<strong>Recuperar senha</strong>

<p>Uma solicitação de recuperação de senha foi realizada para sua conta ({{ email }}). Se você não foi o autor, apenas descarte esse e-mail.</p>

<p>Para continuar com a recuperação de senha clique no botão abaixo para criar uma nova senha. Ah, esse link expira em 48h.</p>

<a href="{{ link }}">Criar nova senha</a>
